.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calculator {
  border: 1px solid var(--grey-100);
  border-radius: var(--border-radius);
  max-width: 450px;
  width: 100%;
  background-color: var(--grey-900);
}

.calculator__result {
  padding: 4rem 2rem 0 2rem;
}

.calculator__result input {
  width: 100%;
  font-size: 3rem;
  border: none;
  background-color: var(--grey-500);
  color: var(--white);
  text-align: right;
  padding-right: 1.5rem;
  padding-left: 1.75rem;
  overflow: hidden;
}

.previous {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}

.current {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  padding: 2rem;
  align-items: center;
  justify-content: center;
}

.equal-sign {
  grid-column-start: 4;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
  height: 100%;
  background-color: var(--accent-400);
}

.equal-sign:hover {
  background-color: var(--accent-900);
}
