<div class="main">
  <div class="calculator">
    <div class="calculator__result">
      <p>{{ current || result }} {{ operation }} {{ operand }}</p>
    </div>

    <div class="calculator__keys">
      <button
        *ngFor="let item of ['+', '-', '*', '/']"
        (click)="setOperation(item)"
      >
        {{ item }}
      </button>

      <button *ngFor="let num of ['7', '8', '9']" (click)="addDigit(num)">
        {{ num }}
      </button>

      <button (click)="clear()" class="clear" value="CE">CE</button>

      <button *ngFor="let num of ['4', '5', '6']" (click)="addDigit(num)">
        {{ num }}
      </button>

      <button *ngFor="let num of ['1', '2', '3']" (click)="addDigit(num)">
        {{ num }}
      </button>

      <button (click)="convertToDecimal()" value=".">.</button>
      <button (click)="addDigit('0')">0</button>
      <button (click)="changeSign()" value="+/-">+/-</button>

      <button value="=" (click)="onEqual()" class="equal-sign">=</button>
    </div>
  </div>
</div>
